<div class="message_board_index">
  <ul class="category_list list-inline">
    <%@categories.each do |category|%>
      <li class="category_tab list-inline-item">
        <%=link_to category.name,message_boards_path(category_id: category.id)%>
      </li>
    <%end%>
  </ul>

  <ul>
    <%@message_boards.each do |message_board|%>
      <li><%=link_to message_board.name,message_boards_talks_path(message_board.id)%></li>
    <%end%>
  </ul>
  <%=link_to'掲示板新規作成',new_message_board_path%>
</div>
