<h1>時間割</h1>
<h2>時間割一覧</h2>
<ul>
  <%@timetables.each do |timetable|%>
    <li><%=link_to timetable.name,new_timetable_cell_path(timetable.id)%></li>
  <%end%>
</ul>

<%=link_to'時間割新規作成',new_timetable_path(current_user)%>
