<div class="timetables_new">
  <%=form_tag (timetables_path(current_user)) do %>
    <input type="text" name="name" placeholder="時間割の名前を入力してください">
    <input type="submit" value="作成">
  <% end %>
</div>
