<div class="timetables_new">
  <h2>時間割新規作成</h2>
  <%=form_tag (timetables_path(current_user))do %>
    <div class="timetable_new_box">
      <input type="text" name="name" placeholder="時間割の名前">
      <input type="submit" value="作成">
    </div>
  <% end %>
</div>
