<div class="contact_index">
  <div class="contactInner container-fluid">
    <div class="container text-center">
      <h1>お問い合わせフォーム</h1>
    </div>
    <div class="container">
      <h3>お客様のお名前</h3>
      <input type="text" name="">
    </div>
    <div class="container">
      <h3>ご意見・アドバイス</h3>
      <textarea name="name" rows="8" cols="50"></textarea>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-primary btn-lg">送信</a>
    </div>
  </div>
</div>
