$('.otherUserList').html("<% @otherUsers.each do |otherUser| %>" +
  　　　　　　　　　　　　　　　　"<div class='otherUserListContainer'>" +
                               "<div class='row otherUserListContainerInner'>" +
                                  "<div class='otherUserAvatar'>" +
                                    "<%= escape_javascript image_tag url_for(otherUser.avatar),class:'avatar',size:'50x50' %>" +
                                  "</div>" +
                                  "<div class='otherUserName'>" +
    　　　　　　　　　　　　　　　　　　  "<%=escape_javascript link_to otherUser.name,user_path(otherUser.id) %>" +
                                  "</div>" +
                                "</div>" +
  　　　　　　　　　　　　　　　　"</div>" +
　　　　　　　　　　　　　　　"<% end %>" +
                          "<%= escape_javascript paginate @otherUsers, remote: true %>");
