<div class="main-home">
  <div class="mainInner">
    <h1>Emoraでできること</h1>
    <section>
      <div class="main_content">
        <h2>シラバス検索</h2>
        <p class="clearfix">
          <%=image_tag "syllabus.jpg", alt: "syllabus", class: "main-img"%>
          シラバス検索では立教大学公式のシラバス検索よりも快適に使えることができます。
        </p>
      </div>
    </section>
    <section>
      <div class="main_content">
        <h2>時間割管理</h2>
        <p class="clearfix">
          <%=image_tag "timetable.jpg", alt: "timetable", class: "main-img"%>
          シラバス検索で組み立てた時間割を管理することができます。
        </p>
      </div>
    </section>
    <section>
      <div class="main_content">
        <h2>掲示板</h2>
        <p class="clearfix">
          <%=image_tag "bulletin_board.jpg", alt: "bulletin_board", class: "main-img"%>
          掲示板では学内の多くの人とつながり、相談や会話をすることが可能です。
        </p>
      </div>
    </section>
  </div>
</div>
