<h1>Emoraの特徴</h1>
<div class="mainInner">
  <section>
    <div class="intro">
      <h2>シラバス検索</h2>
      <p>
        <%=image_tag "syllabus.jpg", alt: "syllabus", class: "syllabus-img"%>
        シラバス検索では立教大学公式のシラバス検索よりも使いやすく快適に使えることができます。
      </p>

    </div>
  </section>
  <section>
    <div class="intro">
      <h2>時間割管理</h2>
      <p class="clearfix">シラバス検索で組み立てた時間割を管理することができます。</p>
    </div>
  </section>

</div>
