<h2>Emoraとは</h2>
<h3>非公式立教大学内総合Webサービスです</h3>

<dl class="">
  <dt>シラバス検索</dt>
    <dd>シラバス検索では立教大学公式のシラバス検索よりも使いやすく快適に使えることができます。</dd>
</dl>

<dl class="">
  <dt>時間割管理</dt>
    <dd>シラバス検索で組み立てた時間割を管理することができます。</dd>
</dl>
