<div class="main-home">
  <div class="welcome">
    <%=image_tag "student.jpg", alt: "syllabus", class: "title-img"%>
    <h1>Emora</h1>
    <h2>~For Rikkyo Students~</h2>
  </div>
  <div class="emora-introduction">
    <h1>Welcome To Emora</h1>
    <p>Emoraは<span class="only">立教生限定</span>のウェブサイトです。<br>
      私たちはより立教生が快適な大学生活を送れるよう当ウェブサイトを通して応援していきます。<br>
      何かご不明な点やご意見がございましたら、お問い合わせよりお願い致します。<br>
    </p>
  </div>

  <div class="emora-description">
    <h1>What We Can For You</h1>
    <div class="emora-description-inner">
      <section>
        <div class="main-content">
          <h3>シラバス検索</h3>
          <%=image_tag "syllabus.jpg", alt: "syllabus", class: "main-img"%>
          <p class="main-content-description">
            シラバス検索では立教大学公式のシラバス検索よりも快適に使えることができます。
          </p>
        </div>
      </section>
      <section>
        <div class="main-content">
          <h3>時間割管理</h3>
          <%=image_tag "timetable.jpg", alt: "timetable", class: "main-img"%>
          <p class="main-content-description">
            シラバス検索で組み立てた時間割を管理することができます。
          </p>
        </div>
      </section>
      <section>
        <div class="main-content">
          <h3>掲示板</h3>
          <%=image_tag "bulletin_board.jpg", alt: "bulletin_board", class: "main-img"%>
          <p class="main-content-description">
            掲示板では学内の多くの人とつながり、相談や会話をすることが可能です。
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
