<div class="search_result">
    <%if @subjects == nil%>

    <%else%>
      <%if @subjects.first == nil or @subjects == ""%>
          <%=link_to'検索画面に戻る','/subjects/search',class:'back'%>
          <p>検索結果は０件です</p>
      <%else%>

      <%=link_to'検索画面に戻る','/subjects/search',class:'back'%>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>名前</th>
              <th>コード</th>
            </tr>
          </thead>
          <tbody>
            <% @subjects.each do |subject| %>
              <tr>
                <td><%=link_to subject.name,subject_path(subject.id)%></td>
                <td><%= subject.subject_code%></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
      <%end%>
    <%end%>
</div>
