/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self

 */
@import "bootstrap";

//home.index

.welcomeNoCash{
  margin-top: 50px;
}
.welcomeNoCashTitle{
    margin-bottom: 50px;
}

.noCashImg{
  border-radius: 20%;
}

//product.index

.product{
  width:223px;
  box-sizing: border-box;
  padding:10px;
}

.product:after{
  content:'';
  display: block;
  height:1px;
  background:#DDDDDD;
  margin-top: 5px;
}

.categoryList{
  padding:0;
}

.productSearchBox{
  padding: 20px;
}

.productSearchBox form{
  border:solid 1px #000;
  border-radius: 15px;
  width: 40%;
  margin: 0 auto;
  height: 40px;
}

.productSearchBox input{
  width: 90%;
  height: 100%;
  border:none;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  background-color: transparent;
}

.productSearchBox button{
  border:none;
  width: 30px;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  background-color: transparent;
}

//product.show

.product_show{
  background: #F5F5F5;
  width:50%;
  margin:0 auto;
}

.product_show .productContainer{
  background: #FAFAFA;
  box-sizing: border-box;
  padding: 10px;
  min-height: 100vh;
}

.productDetail{
  width:100%;
}

.productDescription{
  padding: 15px;
}


//cart.index
.cart_index{
  background: #F5F5F5;
  width:100%;
}

.cartInner{
  width:50%;
  min-height: 100vh;
  margin:0 auto;
  background: #FAFAFA;
  padding: 10px;
  box-sizing: border-box;
}

.cartContentItem{
  margin-top: 10px;
  border:solid #DDDD;
  border-width: 0 0 1px 0;
}

.finalPaymentContainer{
  margin-top: 10px;
}

.cartZeroContent{
  margin-top: 30px;
}

.marketGoImg{
  padding: 10px;
}

.marketGoLink{
  margin: 20px 0;
}

.goCartLink{
  margin-bottom: 20px;
}
//order_histories.index

.order_histories_index{
  background: #F5F5F5;
  width: 50%;
  margin: 0 auto;
  min-height: 100vh;
}

.orderHistoryContainer{
  background: #FAFAFA;
  padding: 10px;
}

.orderHistoryContainer .orderHistoryProductItem{
  border:solid #DDDD;
  border-width:0 0 1px 0;
  padding: 20px;
}

//contact.index
.contact_index{
  background: #F5F5F5;
  height: 100vh;
}

.contactInner{
  height: 100vh;
  width:50%;
  padding: 50px;
  background: #FAFAFA;
}

.contactInner .container{
  padding:20px;
}

.contactInner .container textarea{
  width: 100%;
}

.contactInner input{
  width: 100%;
}
