/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

.entire{
  margin-top:50px;
}
body{
  margin:0;
  padding:0;
  background: #FAFAFA;
}
header{
  background: #a29bfe;
  height:12vh;
  font-size:20px;
  font-weight:bold;
}

.header_inner{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.global_nav ul li{
  list-style: none;
}

.header_title{
  padding:10px;
  margin-top: 10px;
}

.logout_list{
  margin-top:30px;
}
.logout_list li{
  display:inline;
  padding:10px;
}


.header_inner a{
  text-decoration: none;
}

.header_inner a:link{
  color:#000;
}

.header_inner a:visited{
  color:#000;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open,.header_title{
  display: inline-block;
  width: 30px;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right:0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(105%);
  transform: translateX(105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

table{
  text-align: center;
}

.notice,.alert,.success{
  margin:0;
  text-align: center;
  font-weight:bold;
  border-radius: 0;
}

.notice{
  background:#55efc4;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.alert{
  background:#ff6b6b;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.success{
  background:#55efc4;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.sign_in_box{
  width:80%;
  margin:0 auto;
}

.sign_in_box_inner{
  width:70%;
  margin: 0 auto;
}

.sign_in_box{
  width:80%;
  margin:0 auto;
}
.sign_up_box_inner{
  width:70%;
  margin: 0 auto;
}

@media screen and (max-width:500px){
  #nav-content{
    width:220px;
  }

  header .global_nav .logout_list li{
    font-size:12px;
    padding:5px;
  }
}
