// Place all the styles related to the message_board_talk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_board_talk_index{
  width:80%;
  margin:0 auto;
}

.message_board_list ul{
  margin:0px;
  padding:0px;
}

.message_board_list{
  float:left;
  width:50%;
}

.line-bc h4{
  text-decoration: underline;
}
.line-bc {
  padding: 20px 10px;
  width: 50%;
  margin: 15px auto;
  font-size: 14px;
  float:left;
  border:solid 1px #fff;
  border-width: 0 0 0 1px;
  background:#fffafa;
}

.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
  text-align:right;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 300px;
  border-radius: 12px;
  background: #E6ECF0;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #E6ECF0;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.message_board_talk_input{
  text-align: center;
}
