// Place all the styles related to the message_boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_board_index{
  width:100%;
  margin:0 auto;
}

.message_board_index_inner{
  display: flex;
}

.message_board_index .category_list{
  width:20%;
  background:#FCFEFF;
}

.message_board_index .message_board_list{
  width:80%;
  min-height:100vh;
  margin-left:10px;
  box-shadow: -3px 0 6px darken(#556270, 5%);
  border-radius: 5px;
  padding:50px;
}

.message_board_index .category_list .category_tab_list{
  margin:0;
  padding:10px;
  list-style: none;
  background:#FCFEFF;
}

.message_board_index .category_list .category_tab_list .category_tab{
  font-size:20px;
}


.create_message_board{
  margin-left: 15px;

}

.create_message_board_btn{
   background: #A180DC;
   color:#FAFAFA;
}

.create_message_board_btn:hover{
  color:#FAFAFA;
}

.message_board_content_header .row{
  align-items: center;
}

.message_board_creator{
  padding: 0;
}



// .message_board_index .category_list .category_tab_list {
//   text-align: center;
// }

.message_board_index .category_list ul {
  margin:0;
  padding:0;
  position: relative;
}

.message_board_index .category_list ul,.message_board_index .category_tab_list:before{
  content:"・";
  color:#A180DC;
}



.message_board_list ul li{
  list-style: none;
  border:solid #DEDEDE;
  border-width: 0 0 1px 0;
  padding:10px;
}

.message_board_list ul {
  padding:0;
}

.message_board_index .message_board_index_inner .message_board_list  a:hover{
  text-decoration: none;
}

.message_board_index .message_board_index_inner .message_board_list .message_board_content h4{
  color:#A180DC;
}

.message_board_list p{
  color:#000;
}

.messageboard_new{
  width:80%;
  margin:0 auto;
}

.messageboard_container{
  margin-top:40px;
  text-align:center;
}


.messageboard_container textarea{
  border-radius:5px;
  width:100%;
}

.messageboard_new input[type="submit"]{
  color:#FAFAFA;
}

.messageboard_container textarea{
  border-radius:5px;
  display: block;
  width:50%;
  margin:0 auto;
  margin-bottom: 10px;
}

.messageboard_new input[type="submit"]{
  background: #A17FDE;
  outline:0;
  border:0;
  border-radius: 5px;
  padding:10px 30px;
}

.messageboard_detail{
  margin-top:20px;
}


@media screen and (max-width:613px){
  .message_board_index .category_list{
    width:30%;
  }
  .message_board_index .message_board_list{
    width:70%;
  }
}


@media screen and (max-width:550px){
  .message_board_index .message_board_list{
    padding:20px;
  }
}

@media screen and (max-width:478px){
  .message_board_index .category_list .category_tab_list .category_tab, .create_message_board{
    font-size:16px;
  }
}

@media screen and (max-width:412px){
  .message_board_index .category_list{
    width:35%;
  }
  .message_board_index .message_board_list{
    width:65%;
  }
}

// @media screen and (max-width:410px){
//   .messageboard_container textarea{
//     width:80%;
//   }
//   .messageboard_container select{
//     margin-top:10px;
//   }
// }
