// Place all the styles related to the message_board_talk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_board_talk_index{
  width:80%;
  margin:0 auto;
  display: flex;
}

.message_board_list ul{
  margin:0px;
  padding:0px;
}

.message_board_list{
  width:30%;
}

.message_board_container{
  width: 70%;
  height:100vh;
  margin:0 auto;
  padding:30px;
  background: #F4F5F7;
}

.message_board_header h1,.message_board_header h4{
  text-align: center;
}

.message_board_body{
  min-height: 20vh;
  margin:0;
  padding:0;
}

.message_board_talk_input{
  background:#FFFFFF;
}

.message_board_talk_input_inner{
  padding:30px;
}

.message_board_talk_input_inner textarea{
  width:100%;
}

.message_board_talk_input_inner .message_board_submit{
  text-align: right;
}

.message_board_talk_input_inner .message_board_submit button{
  background: #A17FDE;
  color:#FFFFFF;
  outline:0;
  border:0;
  border-radius: 5px;
  padding:10px;
}

.post_container{
  box-sizing: border-box;
  width:100%;
  background:#FFFFFF;
  border-radius: 5px;
  margin-top:20px;
  padding:10px;

}

.post_user_name{
  color: #A180DC;
}

.post_created{
  color:#000;
  font-size:12px;
}

.post_first_message{
  text-align: center;
  margin-top:20px;
}

.post_header{
  display: flex;
  align-items: flex-end;
}

.post_detail{
  margin-left:10px;
}

.post_container p{
  margin-top:15px;
}

//
// .message_board_talk_input button[type="submit"] i{
//   margin:0;
//   padding:0;
// }

@media screen and (max-width:550px){
  .message_board_talk_input textarea{
    border-radius:0;
  }

    .message_board_talk_input textarea::placeholder{
      font-size:15px;
    }

  .message_board_talk_input button[type="submit"]{
    border-radius:0;
  }

  .message_board_talk_index .message_board_list{
    display:none;
  }

  .message_board_talk_index{
    width:100%;
    height:100vh;
  }

  .message_board_container{
    width:100%;
    height:100vh;
  }

  .post_first_message{
    padding-top:20px;
  }

}
