// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
  width:90%;
  margin:0 auto;
}

.search_box{
  border:solid #E6E6E6;
  border-width: 1px 1px 1px 1px;
  background:#FFFFFF;
  border-radius: 5px;
  padding:10px;
}

.search_container{
  width:100%;
  margin:0 auto;
  padding:20px;
}

.search_field{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search_field::placeholder{
  text-align: center;
  font-size:15px;
}

.top_input,.middle_input,.under_input{
  margin-bottom:5px;
}

.search_button{
  text-align: center;
  margin-top: 20px;
}

.search_button button[type="submit"]{
  background:#A17FDE;
  width:10%;
  outline:0;
  border:0;
  border-radius:5px;
  padding: 10px;
}

.btn-black{
  color:#fafafa;
}

.subject_show{
  width:95%;
  margin:0 auto;
}

.search_result{
  width:80%;
  margin:0 auto;
}

.search_result p{
  text-align: center;
}

.search_result .back{
  padding: 10px;
  display: block;
  text-align: center;
}

.syllabusSearchImg{
  width:60%;
  height:350px;
}

.pagination{
  width:100%;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 50%;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 50%;
  background:#93CAFF;   /*角を丸くする*/
}


@media screen and (max-width:840px){
  .search_box .search_button button[type="submit"]{
    width:60px;
  }

  .search_box select{
    border: 1px solid #A9A9A9;
    font-size:14px;
  }
}

@media screen and (max-width:650px){
  .syllabusSearchImg{
    width: 100%;
  }
}
