// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search_result .back{
  padding: 10px;
  display: block;
  text-align: center;
}

.subject_show table{
  margin-top:50px;
}

.search .search_box{
  text-align:center;
}

.search .search_box .search_box_inner{
  margin-top: 20px;
}

.search .search_field{
  width:300px;
  height:30px;
}

.search .submit_btn{
  height:40px;
}

.search_result p{
  text-align: center;
}
