// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
  width:80%;
  margin:0 auto;
}

.search h1{
  text-align: center;
}

.search_box{
  border:solid #000;
  border-width: 1px 1px 1px 1px;
  border-radius: 5px;
}

.search_container{
  width:80%;
  margin:0 auto;
}

.search_field{
  width:40%;
  margin-bottom:5px;
}

.top_input,.under_input{
  text-align: center;
}

.search_button{
  text-align: center;
}

.search_box button[type="submit"]{
  width:10%;
  margin-bottom: 5px;
}

.search_field:focus::placeholder {
  color: transparent;
}

.search_field::placeholder{
  text-align: center;
  font-size:15px;
}


.subject_show{
  width:95%;
  margin:0 auto;
}

.search_result{
  width:80%;
  margin:0 auto;
}

.search_result p{
  text-align: center;
}

.search_result .back{
  padding: 10px;
  display: block;
  text-align: center;
}

@media screen and (max-width:840px){
  .search button[type="submit"]{
    width:60px;
  }
}
