// Place all the styles related to the Timetable_cells controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timetable_cell_new{
  width:100%;
  height:80vh;
  margin:0;
  padding:0;
}

.timetable_cell_new .timetable table{
  table-layout: fixed;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.timetable_cell_new table .period_number{
  width:0.1%;
}

.timetable_cell_new table .day_week{
  height:0.1%;
}

.timetable_cell_new table td{
  width:16.65%;
  overflow: hidden;
}

.timetable_cell_new table td a{
  width:100%;
  display: block;
}

.timetable_cell_new .timetable_subject{
    // font-size:20px;
}

@media screen and (max-width:660px){
  // .timetable_cell_new .timetable_subject{
  //   font-size:10px;
  // }
  // .timetable_cell_new table .period_number{
  //   width:0.1%;
  //   font-size:12px;
  // }
  //
  // .timetable_cell_new h4{
  //   font-size:16px;
  // }
}
