// Place all the styles related to the Timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timetable_index{
  width:80%;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
  height: 100vh;
  padding: 50px;
  border-radius: 10px;
}


@media screen and (max-width:375px){
  .timetable_first_new h2{
    font-size:16px;
  }
}
