// Place all the styles related to the Timetables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timetable_index{
  width:80%;
  margin:0 auto;
  position: relative;
}

.timetable_first_new h2{
  text-align: center;
}

.timetable_first_new{
  width:100%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,50%);
  -webkit-transform: translate(-50%,50%);
}

.timetables_new input[type="submit"]{
  background: #A17FDE;
  width:60px;
  height:30px;
  outline:0;
  border:0;
  border-radius: 5px;
}

.timetables_new{
  margin-bottom:20px;
  text-align: center;
}

.timetable_new_box input[type="text"]:focus::placeholder{
  color:transparent;
}

@media screen and (max-width:600px){
  .timetable_first_new h2{
    font-size:20px;
  }
}

@media screen and (max-width:375px){
  .timetable_first_new h2{
    font-size:16px;
  }
}
