// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_show{
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
}

.userControl{
  padding: 0;
}

#userTab{
  border-top: solid 1px #E6ECF0;
  border-bottom: solid 1px #E6ECF0;
  padding: 10px 0;
  justify-content: center;
}

.nav-link{
  color: #000;
}

.nav-link:hover{
  color: #a180dc;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #a180dc;
}

.user_show .user_post_list{
  padding: 20px;
}

.user_profile{
  width: 100%;
}

.avatar{
  border-radius: 50%;
}

.userAvatar{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 50px;
}

.user_introduce{
  white-space: pre-wrap;
  word-wrap:break-word;
}

.userProfile,.otherUserListContainer{
  padding: 10px;
  border-bottom: solid 1px #E6ECF0;
}

.user_primary_info ul{
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.user_primary_info ul li{
  margin: 20px 20px 0 0;
}

.user_primary_info ul li:last-child{
  margin-right: 0;
}

.noneFollow,.noneFollower{
  padding: 20px;
}

.post_content{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-bottom: solid 1px #E6ECF0;
}

.followImg{
  width: 60%;
  border-radius: 15px;
  margin-top: 10px;
}

.postFavoriteContainer{
  padding: 20px;
}

.otherUserSearch{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.modalTrigger{
  margin: 0 auto;
  padding: 10px;
}

.modal{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

.modal__bg{
  background:rgba(0,0,0,0.8);
  height: 100vh;
  width: 100%;
  position: absolute;
}

.modal__content{
  position: absolute;
  width: 30%;
  min-height:40%;
  background: #fff;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  border-radius: 15px;
  padding: 40px;
}
.modal__content input[type="text"]{
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.modal__content input[type="submit"]{
  margin-top: 10px;
}

.modal_close_button{
  position: absolute;
  top:0;
  right:0;
  padding: 5px;
}

.js-modal-close{
  color:#000;
}

.user_search_input{
  width: 100%;
}

.otherUserListContainerInner{
  align-items: center;
}

.user_edit{
  width:80%;
  margin:0 auto;
}
.otherUserName{
  margin-left: 5px;
}

.user_edit .profile_edit{
  text-align: center;
}

.user_edit textarea{
  width:60%;
}

.user_edit textarea, .user_edit .input[type="submit"]{
  vertical-align: bottom;
}


@media screen and (max-width:1049px){
  .modal__content{
    width: 60%;
  }
}

@media screen and (max-width:767px){
  .userControl{
    margin-top: 10px;
  }
}

@media screen and (max-width:391px){
  .userProfTab .nav-link{
    padding: 8px 8px ;
  }
}
