// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_show{
  width: 100%;
  margin: 0 auto;
}

.user_show .user_post_list{
  padding: 20px;
}

.user_profile{
  width: 50%;
  margin: 0 auto;
}

.user_profile .user_avatar, .user_profile h2{
  text-align: center;
}

.avatar{
  border-radius: 50%;
}

.user_introduce{
  width: 100%;
  height: 20vh;
  background: #E6ECF0;
  border-radius: 5px;
  padding: 30px;
}

.userAvatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 50px;
}

.userProfile{
  padding: 10px;
  border-bottom: solid 1px #E6ECF0;
}

.post_content{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-bottom: solid 1px #E6ECF0;
}

.userProfTab{

}

.user_edit{
  width:80%;
  margin:0 auto;
}

.user_edit .profile_edit{
  text-align: center;
}

.user_edit textarea{
  width:60%;
}

.user_edit textarea, .user_edit .input[type="submit"]{
  vertical-align: bottom;
}

@media screen and (max-width:767px){
  .userControl{
    margin-top: 10px;
  }
}
