<h1>時間割内容作成</h1>
<div class="timetable">
  <table>
    <tr>
      <th>✖</th>
      <th>月</th>
      <th>火</th>
      <th>水</th>
      <th>木</th>
      <th>金</th>
      <th>土</th>
      <th>日</th>
    </tr>
    <%Period.all.each do |period|%>
      <tr>
        <th><%=period.name%></th>
        <%DayOfTheWeek.all.each do |day_of_the_week|%>
          <th>
            <%if TimetableCell.where(day_of_the_week_id: day_of_the_week.id, period_id: period.id, timetable_id:params_int(params[:id])).present?%>
              <%@subject1=subject_finder(day_of_the_week.id,period.id,params_int(params[:id]))%>
              <%=@subject1%>
            <%else%>
              <%=link_to'　',new_timetable_cell_content_path(day_of_the_week_id: day_of_the_week.id, period_id: period.id) %>
            <%end%>
          </th>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>
