<% if @subjects == nil%>
  選択できる科目がありません
<%else%>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>名前</th>
        <th>コード</th>
        <th>op1</th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject|%>
        <tr>
          <td><%=link_to subject.name,subject_path(subject.id)%></td>
          <td><%=subject.subject_code%></td>
          <td><%=link_to'追加',timetable_cells_path(subject_id:subject.id,day_of_the_week_id:params[:day_of_the_week_id],period_id:params[:period_id]),method: :post%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

<%end%>
